/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{
	border-collapse:collapse;
	border-spacing:0;
}
caption,th{
	text-align:left;
	font-weight:normal;
}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{
	overflow:auto;
	resize:none;
}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{outline:0;}
html{height:100%;}
body{
	background:#FFFFFF;
	font-family:'Arial',"Microsoft YaHei", sans-serif;
	line-height:100%;position:relative;
	min-height:100%;
	box-sizing:border-box;
	padding-bottom: 124px;
}
.f-cb:after,.f-cbli li:after{
	display:block;
	clear:both;
	visibility:hidden;
	height:0;overflow:hidden;content:".";
}
.f-cb,.f-cbli li{zoom:1;}
.wrap{
	background:#fff;
	min-width:1200px;
}
.container{
	width:1200px;
	margin:0 auto;
}

.top .container{
	background:#262d33;
	padding:0px 15px;
	width:1170px;
	height:30px;
	line-height:30px;
	box-sizing:border-box;
}
.footerB .container{overflow:hidden;}

/* float and text align */
.floatright{
	float:right;
}
.floatleft{
	float:left;
}
.f-center{
	text-align:center!important;
}
.alignright{
	text-align:right!important;
}
.alignleft{
	text-align:left!important;
}

/*input type style*/
input:focus{
	border-color:#2334F3!important;
}

/*table*/
.table{
	width:100%;
	border:1px solid #e6e6e6;
}
.table th,.table td{
	padding:11px 15px;
	line-height:100%;
	font-size:12px;
	color:#999;
	text-align:center;
	border-top:1px solid #f0f0f0;
}
.table th{
	color:#999;
	background:#f4f4f4;
	border:none;
}
.table td{
	color:#666;
}


/*Often used color */
.blue{color:#1fb9ca!important;}
.green{color:#70a800!important;}
.yellow{color:#e8b342!important;}
.magenta{color:#ea0070!important;}

/* button */
.btn{
	display:inline-block;
	cursor:pointer;
	font-size:14px;
	color:#666;
	padding:9px 12px;
	border:1px solid #d4d4d4;
	line-height:100%;
	background:#f5f5f5;
}
.btn:disabled{
	cursor:default;
}
.btn-large{
	padding:12px 20px;
	font-size:14px;
}
.btn-mini{
	padding:5px 12px;
}
.btn-block{
	padding:9px 0;
	width:100%;
	text-align:center;
}
.btn-radius{
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}

.btn-blue{
	background:#79ced6;
	border-color:#79ced6;
	color:#fff;
}
.btn-blue:hover{
	background:#19bbcb;
	border-color:#19bbcb;
}
.btn-blue:active{
	background:#12a5b4;
	border-color:#12a5b4;
}

.btn-red{
	background:#F32222;
	border-color:#FF3030;
	color:#fff;
}
.btn-red:hover{
	background:#FD4A4A;
	border-color:#FE4141;
}
.btn-red:active{
	background:#B41010;
	border-color:#B41010;
}

.btn-green{
	background:#4DD31C;
	border-color:#1ACB58;
	color:#fff;
}
.btn-green:hover{
	background:#18991B;
	border-color:#119314;
}
.btn-green:active{
	background:#16630E;
	border-color:#268311;
}

.btn-gray{
	background:#828282;
	border-color:#717171;
	color:#fff;
}
.btn-gray:hover{
	background:#545454;
	border-color:#393939;
}
.btn-gray:active{
	background:#323232;
	border-color:#242424;
}

/* LOGIN FORM */
.loginForm{
	width:350px;
	position:absolute;
	top:88px;
	left:235px;
}
.formBlock{text-align:center;}
.formBlock .loginForm{
	height: 40%;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	border: solid 1px #C1C1C1;
}
.loginForm h3.loginFormTitle{
	font-size:16px;
	color:#666;
	text-align:center;
	font-weight:normal;
	position:relative;
}
.loginForm h3.loginFormTitle:after{
	content:" ";
	display:inline-block;
	width:100%;
	height:1px;
	background:#f1f1f1;
	position:absolute;
	left:0;
	top:50%;
}
.loginForm h3.loginFormTitle span{
	padding:0 30px;
	background:#fff;
	position:relative;
	z-index:99;
}
.loginForm .filed{margin-bottom:12px;}
.loginForm .ipt{
	display:inline-block;
	width:278px;
	height:38px;
	line-height:38px;
	padding:0 10px 0 40px;
	background-color:#fff!important;
	background-position:11px 13px;
	background-repeat:no-repeat!important;
	border:1px solid #d4d4d4;
	font-size:14px;
	color:#333;
}

.loginForm .btn{
	height:42px;
	padding:0;
	font-size:16px;
	color:#fff;
}
.loginForm .filed .btn:disabled{
	background:#c2c2c2!important;
	border-color:#c2c2c2!important;
}

.loginForm .nc_scale{
	height:40px;
}
.loginForm .nc-container .nc_scale span{
	height:38px;
	line-height:38px;
	border:none;
	background-color:#fff;
	color:#a7a7a7;
	border:1px solid #d4d4d4;
}

.loginForm .nc-container .imgCaptcha{
	top:42px;
	padding:15px;
	width:298px;
	border-color:#d4d4d4;
}
.loginForm .nc_iconfont.btn_ok{
	background:#ededed!important;
	color:#66bb6a!important;
}
.loginForm .ErrorForm{
	height:auto;
	line-height:1.2;
	font-size:14px;color:#ff0000;
	width:330px;word-break:break-word;
	white-space:normal;
	text-align:left;
	padding:10px 0;
}
.loginForm  .nc-lang-cnt{
	font-size:14px;
	color:#efefef!important;
}
.loginForm  .imgCaptcha_btn .nc-lang-cnt{line-height:32px!important;}
.loginForm  .nc-container .imgCaptcha .imgCaptcha_btn{
	padding-top:10px;
	margin:0;width:100%;
}
.loginForm  .nc-container .imgCaptcha .nc_scale_submit{background-color:#e8b342!important;}
.loginForm  .nc-container .imgCaptcha .nc_scale_submit{
	font-size:14px;
	height:40px;
	line-height:40px;
	width:100%;
}
.loginForm .nc-container .imgCaptcha .imgCaptcha_text{margin-left:0px;}
.loginForm .nc-container .imgCaptcha .imgCaptcha_text input{
	height:36px;
	line-height:36px;
	width:96px;
	padding:0 10px;
	border:1px solid #d4d4d4;
	margin:0;
}
.loginForm .nc-container .nc_captcha_img_text .icon_close{float:none;}
.loginForm .nc-container .nc_captcha_img_text .nc-lang-cnt{color:red!important;}
.loginForm .nc-container .imgCaptcha .imgCaptcha_img{
	margin:2px 0 0 0;
	height:38px;
}
.loginForm .nc_iconfont.nc_btn_1{
	top:30px;
	right:15px;
}
.loginForm .nc-container .imgCaptcha .imgCaptcha_text input:focus{color:#333;}

/*table*/
table{
	border-collapse:collapse;
	border-spacing:0;
}
.table{
	width:100%;
	border:1px solid #e6e6e6;
}

.table th{
	color:#999;
	background:#f4f4f4;
	border:none;
}
.table td{color:#666;}

/* EXCHANGE FORM */
.spaced{margin-bottom:5px;}
.input-wrapper:after {
    content:"click to edit";
}
.buybox{
	width:350px;
	position:absolute;
	bottom:32px;
	left:10px;
	padding:5px;
	border:2px solid black;
}

.sellbox{
	width:350px;
	position:absolute;
	bottom:32px;
	left:375px;
	padding:5px;
	border:2px solid black;
}



/* NAV BAR */
#navHeader {
	margin-bottom:50px;
}

#navHeader img{
	height:40px;
	padding-top:4px;
}

#navHeader ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7C7A7A;
}

#navHeader .left {
    float: left;
}

#navHeader .right {
    float: right;
}

#navHeader .link{	
	border-right:dotted 1px;
	border-left:dotted 1px;
    display: block;
	color: white;
	height: 20px;
	line-height: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navHeader li .link:hover {
    background-color: #007DFF;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* FOOTER */

#footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 4px;
	background-color: #efefef;
	text-align: center;
	font-size:12px;
	color:#8E8E8E;
  }
  
 /*panel*/
.panel{
	width:100%;
	border:1px solid #e6e6e6;
	margin-bottom:15px;
	background:#fff;
}
.panel .panel-title{
	font-size:14px;
	color:#454545;padding:0 15px;
	height:36px;line-height:36px;
	background:#f4f4f4;
}
.panel .panel-title .btn{
	padding:4px 12px;
	background:#fff;
}
.panel .panel-body{padding:30px 15px;}

/* API PRELOADER LOADER */
#loader-wrapper{
	position: fixed;
	top: 0;
	left: 0;
	width : 100%;
	height:100%;
	z-index:1000;
}

#loader {
	display:block;
	position: relative;
	left:50%;
	top:50%;
	width:150px;
	height:150px;
	margin:-75px 0 0 -75px;
	border-radius: 50%;
	border:6px solid transparent;
	border-top-color: #7FB3FF;

	-webkit-animation: spin 2s linear infinite;  /* Chrome, Opera 15+, Safari 5+ */
			animation:spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
	z-index:1001;
}

#loader:before{
	content:"";
	position:absolute;
	top:5px;
	left:5px;
	right:5px;
	bottom:5px;
	border-radius: 50%;
	border:5px solid transparent;
	border-top-color: #3498DB;

	-webkit-animation: spin 3s linear infinite;  /* Chrome, Opera 15+, Safari 5+ */
			animation:spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after{
	content:"";
	position:absolute;
	top:15px;
	left:15px;
	right:15px;
	bottom:15px;
	border-radius: 50%;
	border:4px solid transparent;
	border-top-color: #112BE3;

	-webkit-animation: spin 1.5s linear infinite;  /* Chrome, Opera 15+, Safari 5+ */
			animation:spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin{
	0% 	 { 
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	 }
	100% { 
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spin{
	0% 	 { 
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	 }
	100% { 
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

#loader-wrapper .loader-section{
	position:fixed;
	top:0;
	width:100%;
	height:100%;
	background:#DCDADA;
	z-index: 1000;
}

#loader-wrapper .loader-section.section-top{
	top:0;
}

/* Loaded styles */
.loaded #loader-wrapper .loader-section.section-top{
	-webkit-transform: translateY(100%);
		-ms-transform: translateY(100%);
			transform: translateY(100%);
	
	-webkit-transition: all 0.6s 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
			transition: all 0.6s 0.3s  ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

.loaded #loader {
	opacity:0;

	-webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
			transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.loaded #loader-wrapper{
	visibility: hidden;

	-webkit-transform: translateY(200%);
		-ms-transform: translateY(200%);
			transform: translateY(200%);
	
	-webkit-transition: all 0.3s 0.9s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
			transition: all 0.3s 0.9s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}


/* BALANCE POPUP */
.containerBox{
	width: 50%;
	margin:auto;
}
/* Full-width input fields */
.inputNumber{
    padding: 12px 20px;
    margin: 8px 26px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	font-size:16px;
}

/* Set a style for all buttons */
.boxButton {
    background-color: #2893E0;
    color: white;
    padding: 14px 20px;
    margin: 8px 26px;
    border: none;
    cursor: pointer;
    width: 90%;
	font-size:20px;
}
.boxButton:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

/* The Modal (background) */
.modal {
	display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 40%; 
	padding-bottom: 30px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}